<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>an_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{293,212}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{293,212}}</string>
				<key>sourceSize</key>
				<string>{293,212}</string>
			</dict>

			<key>an_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{294,639},{293,212}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{293,212}}</string>
				<key>sourceSize</key>
				<string>{293,212}</string>
			</dict>

			<key>an_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{882,213},{293,212}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{293,212}}</string>
				<key>sourceSize</key>
				<string>{293,212}</string>
			</dict>

			<key>an_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{882,0},{293,212}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{293,212}}</string>
				<key>sourceSize</key>
				<string>{293,212}</string>
			</dict>

			<key>an_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{588,852},{293,212}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{293,212}}</string>
				<key>sourceSize</key>
				<string>{293,212}</string>
			</dict>

			<key>an_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{588,639},{293,212}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{293,212}}</string>
				<key>sourceSize</key>
				<string>{293,212}</string>
			</dict>

			<key>an_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{588,426},{293,212}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{293,212}}</string>
				<key>sourceSize</key>
				<string>{293,212}</string>
			</dict>

			<key>an_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{588,213},{293,212}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{293,212}}</string>
				<key>sourceSize</key>
				<string>{293,212}</string>
			</dict>

			<key>an_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{588,0},{293,212}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{293,212}}</string>
				<key>sourceSize</key>
				<string>{293,212}</string>
			</dict>

			<key>an_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{294,852},{293,212}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{293,212}}</string>
				<key>sourceSize</key>
				<string>{293,212}</string>
			</dict>

			<key>an_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{882,426},{293,212}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{293,212}}</string>
				<key>sourceSize</key>
				<string>{293,212}</string>
			</dict>

			<key>an_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{294,426},{293,212}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{293,212}}</string>
				<key>sourceSize</key>
				<string>{293,212}</string>
			</dict>

			<key>an_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{294,213},{293,212}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{293,212}}</string>
				<key>sourceSize</key>
				<string>{293,212}</string>
			</dict>

			<key>an_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{294,0},{293,212}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{293,212}}</string>
				<key>sourceSize</key>
				<string>{293,212}</string>
			</dict>

			<key>an_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,852},{293,212}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{293,212}}</string>
				<key>sourceSize</key>
				<string>{293,212}</string>
			</dict>

			<key>an_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,639},{293,212}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{293,212}}</string>
				<key>sourceSize</key>
				<string>{293,212}</string>
			</dict>

			<key>an_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,426},{293,212}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{293,212}}</string>
				<key>sourceSize</key>
				<string>{293,212}</string>
			</dict>

			<key>an_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,213},{293,212}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{293,212}}</string>
				<key>sourceSize</key>
				<string>{293,212}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{1176,1065}</string>
			<key>textureFileName</key>
			<string>an.png</string>
			</dict>
		</dict>
</plist>