<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>cangat_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{242,338},{121,338}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{121,338}}</string>
			<key>sourceSize</key>
			<string>{121,338}</string>
		</dict>
		<key>cangat_10.png</key>
		<dict>
			<key>frame</key>
			<string>{{605,0},{121,338}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{121,338}}</string>
			<key>sourceSize</key>
			<string>{121,338}</string>
		</dict>
		<key>cangat_11.png</key>
		<dict>
			<key>frame</key>
			<string>{{121,0},{121,338}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{121,338}}</string>
			<key>sourceSize</key>
			<string>{121,338}</string>
		</dict>
		<key>cangat_12.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,338},{121,338}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{121,338}}</string>
			<key>sourceSize</key>
			<string>{121,338}</string>
		</dict>
		<key>cangat_13.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{121,338}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{121,338}}</string>
			<key>sourceSize</key>
			<string>{121,338}</string>
		</dict>
		<key>cangat_14.png</key>
		<dict>
			<key>frame</key>
			<string>{{484,0},{121,338}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{121,338}}</string>
			<key>sourceSize</key>
			<string>{121,338}</string>
		</dict>
		<key>cangat_15.png</key>
		<dict>
			<key>frame</key>
			<string>{{484,338},{121,338}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{121,338}}</string>
			<key>sourceSize</key>
			<string>{121,338}</string>
		</dict>
		<key>cangat_16.png</key>
		<dict>
			<key>frame</key>
			<string>{{242,338},{121,338}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{121,338}}</string>
			<key>sourceSize</key>
			<string>{121,338}</string>
		</dict>
		<key>cangat_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{484,338},{121,338}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{121,338}}</string>
			<key>sourceSize</key>
			<string>{121,338}</string>
		</dict>
		<key>cangat_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{484,0},{121,338}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{121,338}}</string>
			<key>sourceSize</key>
			<string>{121,338}</string>
		</dict>
		<key>cangat_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{363,338},{121,338}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{121,338}}</string>
			<key>sourceSize</key>
			<string>{121,338}</string>
		</dict>
		<key>cangat_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{363,0},{121,338}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{121,338}}</string>
			<key>sourceSize</key>
			<string>{121,338}</string>
		</dict>
		<key>cangat_6.png</key>
		<dict>
			<key>frame</key>
			<string>{{605,0},{121,338}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{121,338}}</string>
			<key>sourceSize</key>
			<string>{121,338}</string>
		</dict>
		<key>cangat_7.png</key>
		<dict>
			<key>frame</key>
			<string>{{242,0},{121,338}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{121,338}}</string>
			<key>sourceSize</key>
			<string>{121,338}</string>
		</dict>
		<key>cangat_8.png</key>
		<dict>
			<key>frame</key>
			<string>{{121,338},{121,338}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{121,338}}</string>
			<key>sourceSize</key>
			<string>{121,338}</string>
		</dict>
		<key>cangat_9.png</key>
		<dict>
			<key>frame</key>
			<string>{{242,0},{121,338}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{121,338}}</string>
			<key>sourceSize</key>
			<string>{121,338}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>size</key>
		<string>{726,676}</string>
		<key>textureFileName</key>
		<string>cangat.png</string>
	</dict>
</dict>
</plist>
