<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>cogai_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,390},{305,389}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{305,389}}</string>
			<key>sourceSize</key>
			<string>{305,389}</string>
		</dict>
		<key>cogai_02.png</key>
		<dict>
			<key>frame</key>
			<string>{{306,0},{305,389}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{305,389}}</string>
			<key>sourceSize</key>
			<string>{305,389}</string>
		</dict>
		<key>cogai_03.png</key>
		<dict>
			<key>frame</key>
			<string>{{306,390},{305,389}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{305,389}}</string>
			<key>sourceSize</key>
			<string>{305,389}</string>
		</dict>
		<key>cogai_04.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{305,389}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{305,389}}</string>
			<key>sourceSize</key>
			<string>{305,389}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>size</key>
		<string>{612,780}</string>
		<key>textureFileName</key>
		<string>cogai_xocdia.png</string>
	</dict>
</dict>
</plist>
