<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>nem_1_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{394,151},{150,150}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{150,150}}</string>
			<key>sourceSize</key>
			<string>{150,150}</string>
		</dict>
		<key>nem_1_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{394,453},{150,150}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{150,150}}</string>
			<key>sourceSize</key>
			<string>{150,150}</string>
		</dict>
		<key>nem_1_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{394,0},{150,150}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{150,150}}</string>
			<key>sourceSize</key>
			<string>{150,150}</string>
		</dict>
		<key>nem_1_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{394,302},{150,150}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{150,150}}</string>
			<key>sourceSize</key>
			<string>{150,150}</string>
		</dict>
		<key>nem_1_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{394,604},{150,150}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{150,150}}</string>
			<key>sourceSize</key>
			<string>{150,150}</string>
		</dict>
		<key>nem_1_dan.png</key>
		<dict>
			<key>frame</key>
			<string>{{749,511},{58,94}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{58,94}}</string>
			<key>sourceSize</key>
			<string>{58,94}</string>
		</dict>
		<key>nem_1_khoi.png</key>
		<dict>
			<key>frame</key>
			<string>{{545,297},{144,117}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{144,117}}</string>
			<key>sourceSize</key>
			<string>{144,117}</string>
		</dict>
		<key>nem_1_phao.png</key>
		<dict>
			<key>frame</key>
			<string>{{749,405},{80,105}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,105}}</string>
			<key>sourceSize</key>
			<string>{80,105}</string>
		</dict>
		<key>nem_2_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{394,755},{86,88}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{86,88}}</string>
			<key>sourceSize</key>
			<string>{86,88}</string>
		</dict>
		<key>nem_2_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{568,731},{86,88}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{86,88}}</string>
			<key>sourceSize</key>
			<string>{86,88}</string>
		</dict>
		<key>nem_2_dep.png</key>
		<dict>
			<key>frame</key>
			<string>{{481,755},{86,88}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{86,88}}</string>
			<key>sourceSize</key>
			<string>{86,88}</string>
		</dict>
		<key>nem_3_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{545,0},{149,98}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{149,98}}</string>
			<key>sourceSize</key>
			<string>{149,98}</string>
		</dict>
		<key>nem_3_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{545,198},{149,98}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{149,98}}</string>
			<key>sourceSize</key>
			<string>{149,98}</string>
		</dict>
		<key>nem_3_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{545,99},{149,98}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{149,98}}</string>
			<key>sourceSize</key>
			<string>{149,98}</string>
		</dict>
		<key>nem_3_bia.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,775},{48,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,64}}</string>
			<key>sourceSize</key>
			<string>{48,64}</string>
		</dict>
		<key>nem_4_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{690,316},{86,88}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{86,88}}</string>
			<key>sourceSize</key>
			<string>{86,88}</string>
		</dict>
		<key>nem_4_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{655,731},{86,88}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{86,88}}</string>
			<key>sourceSize</key>
			<string>{86,88}</string>
		</dict>
		<key>nem_4_cachua.png</key>
		<dict>
			<key>frame</key>
			<string>{{742,731},{86,88}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{86,88}}</string>
			<key>sourceSize</key>
			<string>{86,88}</string>
		</dict>
		<key>nem_5_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{545,415},{101,157}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{101,157}}</string>
			<key>sourceSize</key>
			<string>{101,157}</string>
		</dict>
		<key>nem_5_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{695,158},{101,157}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{101,157}}</string>
			<key>sourceSize</key>
			<string>{101,157}</string>
		</dict>
		<key>nem_5_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{647,573},{101,157}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{101,157}}</string>
			<key>sourceSize</key>
			<string>{101,157}</string>
		</dict>
		<key>nem_5_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{647,415},{101,157}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{101,157}}</string>
			<key>sourceSize</key>
			<string>{101,157}</string>
		</dict>
		<key>nem_5_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{695,0},{101,157}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{101,157}}</string>
			<key>sourceSize</key>
			<string>{101,157}</string>
		</dict>
		<key>nem_5_egg.png</key>
		<dict>
			<key>frame</key>
			<string>{{545,573},{101,157}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{101,157}}</string>
			<key>sourceSize</key>
			<string>{101,157}</string>
		</dict>
		<key>nem_6_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,620},{196,154}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{196,154}}</string>
			<key>sourceSize</key>
			<string>{196,154}</string>
		</dict>
		<key>nem_6_10.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{196,154}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{196,154}}</string>
			<key>sourceSize</key>
			<string>{196,154}</string>
		</dict>
		<key>nem_6_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{197,465},{196,154}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{196,154}}</string>
			<key>sourceSize</key>
			<string>{196,154}</string>
		</dict>
		<key>nem_6_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{197,310},{196,154}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{196,154}}</string>
			<key>sourceSize</key>
			<string>{196,154}</string>
		</dict>
		<key>nem_6_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{197,155},{196,154}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{196,154}}</string>
			<key>sourceSize</key>
			<string>{196,154}</string>
		</dict>
		<key>nem_6_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{197,0},{196,154}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{196,154}}</string>
			<key>sourceSize</key>
			<string>{196,154}</string>
		</dict>
		<key>nem_6_6.png</key>
		<dict>
			<key>frame</key>
			<string>{{197,620},{196,154}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{196,154}}</string>
			<key>sourceSize</key>
			<string>{196,154}</string>
		</dict>
		<key>nem_6_7.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,465},{196,154}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{196,154}}</string>
			<key>sourceSize</key>
			<string>{196,154}</string>
		</dict>
		<key>nem_6_8.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,310},{196,154}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{196,154}}</string>
			<key>sourceSize</key>
			<string>{196,154}</string>
		</dict>
		<key>nem_6_9.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,155},{196,154}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{196,154}}</string>
			<key>sourceSize</key>
			<string>{196,154}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>size</key>
		<string>{830,844}</string>
		<key>textureFileName</key>
		<string>nem.png</string>
	</dict>
</dict>
</plist>
