<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>01x.png</key>
		<dict>
			<key>frame</key>
			<string>{{448,332},{112,166}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{112,166}}</string>
			<key>sourceSize</key>
			<string>{112,166}</string>
		</dict>
		<key>02x.png</key>
		<dict>
			<key>frame</key>
			<string>{{896,498},{112,166}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{112,166}}</string>
			<key>sourceSize</key>
			<string>{112,166}</string>
		</dict>
		<key>03x.png</key>
		<dict>
			<key>frame</key>
			<string>{{896,332},{112,166}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{112,166}}</string>
			<key>sourceSize</key>
			<string>{112,166}</string>
		</dict>
		<key>04x.png</key>
		<dict>
			<key>frame</key>
			<string>{{896,166},{112,166}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{112,166}}</string>
			<key>sourceSize</key>
			<string>{112,166}</string>
		</dict>
		<key>05x.png</key>
		<dict>
			<key>frame</key>
			<string>{{896,0},{112,166}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{112,166}}</string>
			<key>sourceSize</key>
			<string>{112,166}</string>
		</dict>
		<key>06x.png</key>
		<dict>
			<key>frame</key>
			<string>{{784,996},{112,166}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{112,166}}</string>
			<key>sourceSize</key>
			<string>{112,166}</string>
		</dict>
		<key>07x.png</key>
		<dict>
			<key>frame</key>
			<string>{{784,830},{112,166}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{112,166}}</string>
			<key>sourceSize</key>
			<string>{112,166}</string>
		</dict>
		<key>08x.png</key>
		<dict>
			<key>frame</key>
			<string>{{784,664},{112,166}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{112,166}}</string>
			<key>sourceSize</key>
			<string>{112,166}</string>
		</dict>
		<key>09x.png</key>
		<dict>
			<key>frame</key>
			<string>{{784,498},{112,166}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{112,166}}</string>
			<key>sourceSize</key>
			<string>{112,166}</string>
		</dict>
		<key>10x.png</key>
		<dict>
			<key>frame</key>
			<string>{{784,332},{112,166}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{112,166}}</string>
			<key>sourceSize</key>
			<string>{112,166}</string>
		</dict>
		<key>11x.png</key>
		<dict>
			<key>frame</key>
			<string>{{784,166},{112,166}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{112,166}}</string>
			<key>sourceSize</key>
			<string>{112,166}</string>
		</dict>
		<key>12x.png</key>
		<dict>
			<key>frame</key>
			<string>{{784,0},{112,166}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{112,166}}</string>
			<key>sourceSize</key>
			<string>{112,166}</string>
		</dict>
		<key>13x.png</key>
		<dict>
			<key>frame</key>
			<string>{{672,996},{112,166}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{112,166}}</string>
			<key>sourceSize</key>
			<string>{112,166}</string>
		</dict>
		<key>14x.png</key>
		<dict>
			<key>frame</key>
			<string>{{672,830},{112,166}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{112,166}}</string>
			<key>sourceSize</key>
			<string>{112,166}</string>
		</dict>
		<key>15x.png</key>
		<dict>
			<key>frame</key>
			<string>{{672,664},{112,166}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{112,166}}</string>
			<key>sourceSize</key>
			<string>{112,166}</string>
		</dict>
		<key>16x.png</key>
		<dict>
			<key>frame</key>
			<string>{{672,498},{112,166}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{112,166}}</string>
			<key>sourceSize</key>
			<string>{112,166}</string>
		</dict>
		<key>17x.png</key>
		<dict>
			<key>frame</key>
			<string>{{672,332},{112,166}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{112,166}}</string>
			<key>sourceSize</key>
			<string>{112,166}</string>
		</dict>
		<key>18x.png</key>
		<dict>
			<key>frame</key>
			<string>{{672,166},{112,166}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{112,166}}</string>
			<key>sourceSize</key>
			<string>{112,166}</string>
		</dict>
		<key>19x.png</key>
		<dict>
			<key>frame</key>
			<string>{{672,0},{112,166}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{112,166}}</string>
			<key>sourceSize</key>
			<string>{112,166}</string>
		</dict>
		<key>20x.png</key>
		<dict>
			<key>frame</key>
			<string>{{560,996},{112,166}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{112,166}}</string>
			<key>sourceSize</key>
			<string>{112,166}</string>
		</dict>
		<key>21x.png</key>
		<dict>
			<key>frame</key>
			<string>{{560,830},{112,166}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{112,166}}</string>
			<key>sourceSize</key>
			<string>{112,166}</string>
		</dict>
		<key>22x.png</key>
		<dict>
			<key>frame</key>
			<string>{{560,664},{112,166}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{112,166}}</string>
			<key>sourceSize</key>
			<string>{112,166}</string>
		</dict>
		<key>23x.png</key>
		<dict>
			<key>frame</key>
			<string>{{560,498},{112,166}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{112,166}}</string>
			<key>sourceSize</key>
			<string>{112,166}</string>
		</dict>
		<key>24x.png</key>
		<dict>
			<key>frame</key>
			<string>{{560,332},{112,166}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{112,166}}</string>
			<key>sourceSize</key>
			<string>{112,166}</string>
		</dict>
		<key>25x.png</key>
		<dict>
			<key>frame</key>
			<string>{{560,166},{112,166}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{112,166}}</string>
			<key>sourceSize</key>
			<string>{112,166}</string>
		</dict>
		<key>26x.png</key>
		<dict>
			<key>frame</key>
			<string>{{560,0},{112,166}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{112,166}}</string>
			<key>sourceSize</key>
			<string>{112,166}</string>
		</dict>
		<key>27x.png</key>
		<dict>
			<key>frame</key>
			<string>{{448,996},{112,166}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{112,166}}</string>
			<key>sourceSize</key>
			<string>{112,166}</string>
		</dict>
		<key>28x.png</key>
		<dict>
			<key>frame</key>
			<string>{{448,830},{112,166}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{112,166}}</string>
			<key>sourceSize</key>
			<string>{112,166}</string>
		</dict>
		<key>29x.png</key>
		<dict>
			<key>frame</key>
			<string>{{448,664},{112,166}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{112,166}}</string>
			<key>sourceSize</key>
			<string>{112,166}</string>
		</dict>
		<key>30x.png</key>
		<dict>
			<key>frame</key>
			<string>{{448,498},{112,166}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{112,166}}</string>
			<key>sourceSize</key>
			<string>{112,166}</string>
		</dict>
		<key>31x.png</key>
		<dict>
			<key>frame</key>
			<string>{{896,664},{112,166}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{112,166}}</string>
			<key>sourceSize</key>
			<string>{112,166}</string>
		</dict>
		<key>32x.png</key>
		<dict>
			<key>frame</key>
			<string>{{448,166},{112,166}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{112,166}}</string>
			<key>sourceSize</key>
			<string>{112,166}</string>
		</dict>
		<key>33x.png</key>
		<dict>
			<key>frame</key>
			<string>{{448,0},{112,166}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{112,166}}</string>
			<key>sourceSize</key>
			<string>{112,166}</string>
		</dict>
		<key>34x.png</key>
		<dict>
			<key>frame</key>
			<string>{{336,996},{112,166}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{112,166}}</string>
			<key>sourceSize</key>
			<string>{112,166}</string>
		</dict>
		<key>35x.png</key>
		<dict>
			<key>frame</key>
			<string>{{336,830},{112,166}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{112,166}}</string>
			<key>sourceSize</key>
			<string>{112,166}</string>
		</dict>
		<key>36x.png</key>
		<dict>
			<key>frame</key>
			<string>{{336,664},{112,166}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{112,166}}</string>
			<key>sourceSize</key>
			<string>{112,166}</string>
		</dict>
		<key>37x.png</key>
		<dict>
			<key>frame</key>
			<string>{{336,498},{112,166}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{112,166}}</string>
			<key>sourceSize</key>
			<string>{112,166}</string>
		</dict>
		<key>38x.png</key>
		<dict>
			<key>frame</key>
			<string>{{336,332},{112,166}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{112,166}}</string>
			<key>sourceSize</key>
			<string>{112,166}</string>
		</dict>
		<key>39x.png</key>
		<dict>
			<key>frame</key>
			<string>{{336,166},{112,166}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{112,166}}</string>
			<key>sourceSize</key>
			<string>{112,166}</string>
		</dict>
		<key>40x.png</key>
		<dict>
			<key>frame</key>
			<string>{{336,0},{112,166}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{112,166}}</string>
			<key>sourceSize</key>
			<string>{112,166}</string>
		</dict>
		<key>41x.png</key>
		<dict>
			<key>frame</key>
			<string>{{224,996},{112,166}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{112,166}}</string>
			<key>sourceSize</key>
			<string>{112,166}</string>
		</dict>
		<key>42x.png</key>
		<dict>
			<key>frame</key>
			<string>{{224,830},{112,166}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{112,166}}</string>
			<key>sourceSize</key>
			<string>{112,166}</string>
		</dict>
		<key>43x.png</key>
		<dict>
			<key>frame</key>
			<string>{{224,664},{112,166}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{112,166}}</string>
			<key>sourceSize</key>
			<string>{112,166}</string>
		</dict>
		<key>44x.png</key>
		<dict>
			<key>frame</key>
			<string>{{224,498},{112,166}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{112,166}}</string>
			<key>sourceSize</key>
			<string>{112,166}</string>
		</dict>
		<key>45x.png</key>
		<dict>
			<key>frame</key>
			<string>{{224,332},{112,166}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{112,166}}</string>
			<key>sourceSize</key>
			<string>{112,166}</string>
		</dict>
		<key>46x.png</key>
		<dict>
			<key>frame</key>
			<string>{{224,166},{112,166}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{112,166}}</string>
			<key>sourceSize</key>
			<string>{112,166}</string>
		</dict>
		<key>47x.png</key>
		<dict>
			<key>frame</key>
			<string>{{224,0},{112,166}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{112,166}}</string>
			<key>sourceSize</key>
			<string>{112,166}</string>
		</dict>
		<key>48x.png</key>
		<dict>
			<key>frame</key>
			<string>{{112,996},{112,166}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{112,166}}</string>
			<key>sourceSize</key>
			<string>{112,166}</string>
		</dict>
		<key>49x.png</key>
		<dict>
			<key>frame</key>
			<string>{{112,830},{112,166}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{112,166}}</string>
			<key>sourceSize</key>
			<string>{112,166}</string>
		</dict>
		<key>50x.png</key>
		<dict>
			<key>frame</key>
			<string>{{112,664},{112,166}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{112,166}}</string>
			<key>sourceSize</key>
			<string>{112,166}</string>
		</dict>
		<key>51x.png</key>
		<dict>
			<key>frame</key>
			<string>{{112,498},{112,166}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{112,166}}</string>
			<key>sourceSize</key>
			<string>{112,166}</string>
		</dict>
		<key>52x.png</key>
		<dict>
			<key>frame</key>
			<string>{{112,332},{112,166}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{112,166}}</string>
			<key>sourceSize</key>
			<string>{112,166}</string>
		</dict>
		<key>card_cover.png</key>
		<dict>
			<key>frame</key>
			<string>{{112,166},{112,166}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{112,166}}</string>
			<key>sourceSize</key>
			<string>{112,166}</string>
		</dict>
		<key>card_hidden.png</key>
		<dict>
			<key>frame</key>
			<string>{{112,0},{112,166}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{112,166}}</string>
			<key>sourceSize</key>
			<string>{112,166}</string>
		</dict>
		<key>eat_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,996},{112,166}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{112,166}}</string>
			<key>sourceSize</key>
			<string>{112,166}</string>
		</dict>
		<key>eat_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,830},{112,166}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{112,166}}</string>
			<key>sourceSize</key>
			<string>{112,166}</string>
		</dict>
		<key>eat_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,664},{112,166}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{112,166}}</string>
			<key>sourceSize</key>
			<string>{112,166}</string>
		</dict>
		<key>eat_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,498},{112,166}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{112,166}}</string>
			<key>sourceSize</key>
			<string>{112,166}</string>
		</dict>
		<key>eat_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,332},{112,166}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{112,166}}</string>
			<key>sourceSize</key>
			<string>{112,166}</string>
		</dict>
		<key>eat_6.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,166},{112,166}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{112,166}}</string>
			<key>sourceSize</key>
			<string>{112,166}</string>
		</dict>
		<key>guibai_efect.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{112,166}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{112,166}}</string>
			<key>sourceSize</key>
			<string>{112,166}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>size</key>
		<string>{1008,1162}</string>
		<key>textureFileName</key>
		<string>sprite_cards.png</string>
	</dict>
</dict>
</plist>
