<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>hom_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{380,376}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{380,376}}</string>
				<key>sourceSize</key>
				<string>{380,376}</string>
			</dict>

			<key>hom_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,754},{380,376}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{380,376}}</string>
				<key>sourceSize</key>
				<string>{380,376}</string>
			</dict>

			<key>hom_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{381,377},{380,376}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{380,376}}</string>
				<key>sourceSize</key>
				<string>{380,376}</string>
			</dict>

			<key>hom_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{381,0},{380,376}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{380,376}}</string>
				<key>sourceSize</key>
				<string>{380,376}</string>
			</dict>

			<key>hom_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{381,754},{380,376}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{380,376}}</string>
				<key>sourceSize</key>
				<string>{380,376}</string>
			</dict>

			<key>hom_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,377},{380,376}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{380,376}}</string>
				<key>sourceSize</key>
				<string>{380,376}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{762,1131}</string>
			<key>textureFileName</key>
			<string>hom_sprite.png</string>
			</dict>
		</dict>
</plist>